GLFW_ICON ICON "symbol.ico"

1 VERSIONINFO
FILEVERSION     1,3,0,0
PRODUCTVERSION  1,3,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Robert Damerius"
      VALUE "FileDescription", "GCS"
      VALUE "FileVersion", "1.3"
      VALUE "InternalName", "GCS"
      VALUE "LegalCopyright", "Robert Damerius"
      VALUE "OriginalFilename", "GCS.exe"
      VALUE "ProductName", "GCS"
      VALUE "ProductVersion", "1.3"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
